<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=./favicon.ico>
    <title>简朴管理系统</title>
    <style type=text/css></style>
    <link href=style.css rel=stylesheet type=text/css>
    <link href=https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css rel=stylesheet>
    <link href=https://unpkg.com/element-ui/lib/theme-chalk/index.css rel=stylesheet>
    <link href=css/chunk-022fd673.c54076ea.css rel=prefetch>
    <link href=css/chunk-037ba52e.afddb775.css rel=prefetch>
    <link href=css/chunk-065dbb4a.60c04dc5.css rel=prefetch>
    <link href=css/chunk-0b9a1e9f.c54076ea.css rel=prefetch>
    <link href=css/chunk-175ae409.238e63ed.css rel=prefetch>
    <link href=css/chunk-1b1f1727.238e63ed.css rel=prefetch>
    <link href=css/chunk-275287e6.238e63ed.css rel=prefetch>
    <link href=css/chunk-4095dd65.238e63ed.css rel=prefetch>
    <link href=css/chunk-46452a84.238e63ed.css rel=prefetch>
    <link href=css/chunk-4705f87d.238e63ed.css rel=prefetch>
    <link href=css/chunk-48ca516c.c54076ea.css rel=prefetch>
    <link href=css/chunk-5a4f704b.0b3a7cf0.css rel=prefetch>
    <link href=css/chunk-6bec1fcb.2d147bc0.css rel=prefetch>
    <link href=css/chunk-777fab99.7e9c846b.css rel=prefetch>
    <link href=css/chunk-7eac61ca.11baffa5.css rel=prefetch>
    <link href=css/chunk-927f37a2.09dc3ac5.css rel=prefetch>
    <link href=css/chunk-e88f85b0.c54076ea.css rel=prefetch>
    <link href=css/chunk-fd5d1a64.5f5478bb.css rel=prefetch>
    <link href=js/chunk-022fd673.f9cccf06.js rel=prefetch>
    <link href=js/chunk-037ba52e.a8b49816.js rel=prefetch>
    <link href=js/chunk-065dbb4a.eca73726.js rel=prefetch>
    <link href=js/chunk-0b9a1e9f.53d34a62.js rel=prefetch>
    <link href=js/chunk-175ae409.3b0435b5.js rel=prefetch>
    <link href=js/chunk-1b1f1727.c7be543c.js rel=prefetch>
    <link href=js/chunk-275287e6.8ef7d3fb.js rel=prefetch>
    <link href=js/chunk-2d0ae598.86898019.js rel=prefetch>
    <link href=js/chunk-2d0b8eff.42c16e61.js rel=prefetch>
    <link href=js/chunk-2d0d7dd6.bef7db59.js rel=prefetch>
    <link href=js/chunk-2d0dd451.044b27e8.js rel=prefetch>
    <link href=js/chunk-2d210bdd.5ed296aa.js rel=prefetch>
    <link href=js/chunk-2d216660.06f69506.js rel=prefetch>
    <link href=js/chunk-2d22269e.cd5a85dd.js rel=prefetch>
    <link href=js/chunk-3ef296f4.e0babfda.js rel=prefetch>
    <link href=js/chunk-4095dd65.af69938d.js rel=prefetch>
    <link href=js/chunk-46452a84.839d5795.js rel=prefetch>
    <link href=js/chunk-4705f87d.83c2a772.js rel=prefetch>
    <link href=js/chunk-48ca516c.12b04d6a.js rel=prefetch>
    <link href=js/chunk-5a4f704b.3ac8a1f0.js rel=prefetch>
    <link href=js/chunk-6bec1fcb.6ca018ef.js rel=prefetch>
    <link href=js/chunk-777fab99.636aab4f.js rel=prefetch>
    <link href=js/chunk-7eac61ca.48ad6d6e.js rel=prefetch>
    <link href=js/chunk-927f37a2.8c458faf.js rel=prefetch>
    <link href=js/chunk-daf82a36.659bff43.js rel=prefetch>
    <link href=js/chunk-e88f85b0.9b482177.js rel=prefetch>
    <link href=js/chunk-f80123c0.e487ce67.js rel=prefetch>
    <link href=js/chunk-fd5d1a64.27185800.js rel=prefetch>
    <link href=css/app.7cbe1b86.css rel=preload as=style>
    <link href=css/chunk-vendors.657d93ef.css rel=preload as=style>
    <link href=js/app.190c3494.js rel=preload as=script>
    <link href=js/chunk-vendors.b239d1a8.js rel=preload as=script>
    <link href=css/chunk-vendors.657d93ef.css rel=stylesheet>
    <link href=css/app.7cbe1b86.css rel=stylesheet>
</head>
<body>
<noscript><strong>
        We're sorry but demo doesn't work properly without JavaScript enabled. Please enable it to
    continue.
</strong></noscript>
<div id=app></div>
<script></script>
<script src=js/chunk-vendors.b239d1a8.js></script>
<script src=js/app.190c3494.js></script>
</body>
</html>